---
import Desktop from '../components/Desktop.jsx';
import '../styles/global.css'; 
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portafolio - Ubuntu Style</title>
    <link rel="icon" type="image/webp" href="/yo.jpg" />
  </head>
  <body class="m-0 p-0 overflow-hidden">
    <Desktop client:load />
  </body>
</html>
